@import 'normalize.css';
@import '../scss/nav';
@import '../scss/info';
@import '../scss/myskils';
@import '../scss/muproject';
@import '../scss/footer.scss';
@import '../scss/media.scss';
 

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: #EAE7DC;
}















